@font-face {
  font-family: "iconfont"; /* Project id 3597032 */
  src: url('iconfont.woff2?t=1660808716198') format('woff2'),
       url('iconfont.woff?t=1660808716198') format('woff'),
       url('iconfont.ttf?t=1660808716198') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quanping:before {
  content: "\e61f";
}

.icon-tuichuquanping:before {
  content: "\e637";
}

