
/**公共样式*/
.flx-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.flx-items-center{
	display: flex;
	align-items: center;
}
.flx-item-content{
	display: flex;
	justify-content: center;
}
.flx-justify-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flx-justify-around{
	display: flex;
	justify-content: space-around;
	align-items: center;
}