/**sass变量*/
$myColor:red;
$menuBgColor:#191a20;
$menuActiveColor:#fff;
$menuActiveBorderColor:#4290f7;
$menuBgHoverColor:#000;
$tagsBorderColor:#E4E7ED;

//全局css变量
$primary-color: var(--el-color-primary);